body{
    padding: 0px;
    margin: 0px;
}

.game{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.board{
    height: 100vh;
    width: 70vw;
}

.board-img{
    height: 100vh;
    width: 60vw;
}

.info{
    height: 100vh;
    width: 30vw;
    padding-right: 20vw;
}

.roll-btn{
    border: none;
    background: none;
}

.dice-img{
    height: 10vh;
    width: 5vw;
}

.intro{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper{
    font-size: 40px;
    width: 40vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.piece{
    height: 27px;
    width: 27px;
    border-radius: 50%;
    position: absolute;
    top: 0vh;
    left: 36vw;
    border: 2px solid black;
}

.red{
    background-color: #D0312D;
}

.blue{
    background-color: #2D5FD0;
}

.yellow{
    background-color: #F2E205;
}

.green{
    background-color: #0F9D58;
}

